{% extends 'base.html' %} {% block content %}
<div class="w-full max-w-4xl mx-auto space-y-5" x-data="{ open: false }">
  <!-- Top header -->
  <div class="flex items-center justify-between p-4 bg-white rounded-md border border-gray-100">
    <div>
      <h2 class="text-xl font-semibold text-gray-700">Shopping List</h2>
      <p class="text-sm text-slate-600 mt-2"></p>
    </div>
    <a
      href="#"
      class="flex items-center gap-2 text-sm bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition-colors cursor-pointer"
      x-on:click="open = !open"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-plus-icon lucide-plus"
      >
        <path d="M5 12h14" />
        <path d="M12 5v14" /></svg
      >Add Item
    </a>
  </div>
  <!-- Add Items forms -->
  <div class="flex items-center space-x-2 p-4 bg-white rounded-md border border-gray-100" x-show="open" x-transition>
    <form method="POST" action="{{url_for('main.shopping_list')}}" class="w-full">
      {{ form.hidden_tag() }}
      <h2 class="text-sm font-semibold text-gray-700">Add New Item</h2>
      <div class="mt-2 gap-3">
        {{ form.grocery_item_id(class="w-full px-4 py-2.5 border border-gray-300 rounded-lg focus:outline-none mb-2", placeholder="0", main="0", step="0.01") }}
      </div>
      <div class="mt-2 grid grid-cols-2 gap-3">
        <div>
          {{ form.quantity(class="w-full px-4 py-2.5 border border-gray-300 rounded-lg focus:outline-none mb-2", placeholder="0", main="0", step="0.01") }}
        </div>
        <div>{{ form.unit_id(class="w-full px-4 py-2.5 border border-gray-300 rounded-lg focus:outline-none mb-2 text-sm") }}</div>
      </div>
      <div class="mt-2 gap-3">{{ form.category_id(class="w-full px-4 py-2.5 border border-gray-300 rounded-lg focus:outline-none mb-2 text-sm") }}</div>
      <div class="mt-2 grid grid-cols-2 gap-3">
        <!-- <button type="submit" class="bg-green-600 text-white w-full text-sm rounded-md py-2 cursor-pointer">Add to List</button> -->
        {{ form.submit(class="bg-green-600 text-white w-full text-sm rounded-md py-2 cursor-pointer") }}
        <p class="block border border-gray-300 text-slate-600 w-full text-sm rounded-md py-2 cursor-pointer text-center" x-on:click="open = false">Cancel</p>
      </div>
    </form>
  </div>
  <!-- description -->
  <div class="flex items-center space-x-2 p-4 rounded-md bg-green-100/50">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-users-icon lucide-users"
    >
      <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2" />
      <path d="M16 3.128a4 4 0 0 1 0 7.744" />
      <path d="M22 21v-2a4 4 0 0 0-3-3.87" />
      <circle cx="9" cy="7" r="4" />
    </svg>
    <div>
      <h2 class="text-md font-semibold text-gray-700">Collaborative Shopping List</h2>
      <p class="text-sm text-slate-600 mt-2">Everyone in your household can add and check the items</p>
    </div>
  </div>
  <!-- List of items -->
  <div class="bg-white p-4 mb-4 rounded-md border border-gray-100 space-y-4">
    <div class="space-y-3">
      <div>
        <h2 class="text-md font-semibold text-gray-700 mb-4">Items to Buy</h2>
      </div>
      <!-- Item -->
      {% for item in items %}
      <div class="flex items-center justify-between p-4 bg-white rounded-md border border-gray-100">
        <div class="flex items-center gap-4">
          <input type="checkbox" class="w-5 h-5 text-green-500 rounded-md" {% if item.purchased %}checked{% endif %} />
          <div>
            <p class="text-gray-700 font-medium text-md">{{ item.grocery_item.name if item.grocery_item else 'Unknown item' }}</p>
            <p class="text-sm text-slate-500">
              <span>{{ item.quantity }} {{ item.unit.name if item.unit else '' }}</span>
              <span>{{ item.category.name if item.category else '' }}</span>
            </p>
          </div>
        </div>
        <div class="flex items-center gap-3">
          <span class="text-sm text-slate-500 font-regular"> Added by {{ item.user.username }} </span>
          <form action="{{ url_for('main.delete_shopping_list_item', item_id=item.id) }}" method="POST" class="inline">
            <button type="submit" class="text-red-500 hover:text-red-700 text-sm font-medium ml-4">Remove</button>
          </form>
        </div>
      </div>
      {% else %}
      <p class="text-sm text-slate-500">No items yet. Add your first item above.</p>
      {% endfor %}
      <!-- Item -->
    </div>
  </div>
</div>

{% endblock %}
