<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Super User login</title>
  </head>
  <body>
    <main class="flex items-center justify-center w-full px-4 mt-20">
      <form class="flex w-full flex-col max-w-96" action="{{url_for('main.super_login')}}" method="post">
        {{ form.hidden_tag() }}
        <a class="mb-8 text-center flex items-center justify-center gap-2" href="">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="44"
            height="44"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-salad-icon lucide-salad text-green-600"
          >
            <path d="M7 21h10" />
            <path d="M12 21a9 9 0 0 0 9-9H3a9 9 0 0 0 9 9Z" />
            <path
              d="M11.38 12a2.4 2.4 0 0 1-.4-4.77 2.4 2.4 0 0 1 3.2-2.77 2.4 2.4 0 0 1 3.47-.63 2.4 2.4 0 0 1 3.37 3.37 2.4 2.4 0 0 1-1.1 3.7 2.51 2.51 0 0 1 .03 1.1"
            />
            <path d="m13 12 4-4" />
            <path d="M10.9 7.25A3.99 3.99 0 0 0 4 10c0 .73.2 1.41.54 2" />
          </svg>
        </a>

        <h2 class="text-2xl font-medium text-gray-900 text-center">Sign in as Admin</h2>

        <p class="mt-4 text-base text-gray-500/90 text-center">Please enter email and password to access.</p>

        <div class="mt-10">
          <label class="font-medium text-gray-600/90">Email</label>
          {{ form.email(class="mt-2 rounded-md border border-gray-300 outline-none px-3 py-3 w-full", placeholder="Please enter your email") }}
        </div>

        <div class="mt-6">
          <label class="font-medium text-gray-600/90">Password</label>
          {{ form.password(class="mt-2 rounded-md border border-gray-300 outline-none px-3 py-3 w-full", placeholder="Please enter your password") }}
        </div>
        {{ form.submit(class="mt-8 py-3 w-full cursor-pointer rounded-md bg-green-600 text-white transition hover:bg-green-700") }}
        <p class="text-center py-8">Forgot password? <a href="/reset-password" class="text-green-600 hover:underline">Reset password</a></p>
      </form>
    </main>
  </body>
</html>
